.banner-sobre img{
    width: 100%;
}

.texto-sobre{
    padding: 10px;
}

#galeteria{
    position: absolute;
    color: white;dd
    font-weight: 700;
    text-shadow: 0.1em 0.1em #333;
    font-size: 62px;[]
    left: 37%;
    top: 45%;
}

@media screen and (min-width: 769px)
{
.img-sobre-double{
    display: flex;
}
    
}



@media screen and (min-width: 551px) and (max-width: 768px)
{

}



@media screen and (max-width: 550px)
{

}